// colors
$danger-red: #E53549;

/* general styles */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* helper styles */

.push {
    height: 50px;
}

.clearer {
    clear: both;
}

.gtr-bg-black {
    background-color: #000;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}


/* loader */

#loader {
    z-index: 9999999;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #222;
    border-top: 8px solid #E53549;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* all pages styles */

#siteNav {
    z-index: 100;
    background-color: #000;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    .navbar-brand {
        img {
            max-height: 40px;
            width: auto;
        }
    }
}

footer {
    height: 30px;
    color: #fff;
}


/* index - login */

#index {
    height: 100%;
    background-color: #000;
    background-image: url(../images/movie-poster-collage-75op.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    #loginCard {
        background-color: #000;
        .card-body {
            .nav-tabs {
                border-bottom: 1px solid #222;
                .nav-item.nav-link {
                    color: #222;
                    &.active {
                        border-top: 1px solid #222;
                        border-left: 1px solid #222;
                        border-right: 1px solid #222;
                        border-bottom: 1px solid #000;
                        background-color: transparent;
                        color: #fff;
                    }
                }
            }
            .gtr-form-control {
                background-color: #333;
                color: #ccc;
                border: none;
                &:focus {
                    border-color: #333;
                    box-shadow: none;
                }
            }
        }
    }
}


/* search page */

#movie {
    .wrapper {
        // stick nav
        padding-top: 66px;
        min-height: 100%;
        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -30px;
    }
    .push {
        height: 30px;
    }
    #movieContent {
        #accordionQuickSearch {
            .card {
                border: 1px solid #222;
                border-bottom: none;
                background-color: #222;
                .card-header {
                    background-color: #000;
                    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                    h5 {
                        .btn-link {
                            color: #222;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
                .card-body {
                    background-color: #333;
                    .btn-genre {
                        margin: 5px;
                    }
                    #generalSearchForm {
                        .input-group-prepend {
                            label {
                                background-color: #343a40;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        #movies {
            min-height: 250px;
        }
    }
    .movie-container {
        box-sizing: border-box;
        padding: 10px;
        cursor: pointer;
        img {
            width: 100%;
            transition: all 1s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    #movieModalCenter {
        .modal-content {
            padding: 20px;
            img {
                width: 100%;
            }
            .video-trailer {
                color: #E53549;
            }
        }
    }
}