// colors
$danger-red: #E53549;
$md-grey: #505050;

/* general styles */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* helper styles */

.hidden {
    display: none;
}

.user-logged-in {
    .hidden {
        &.user-movie-btn {
            display: inline-block;
        }
        &#profileMenu {
            display: block;
        }
    }
}

.push {
    height: 50px;
}

.clearer {
    clear: both;
}

.gtr-bg-black {
    background-color: #000;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


/* sidebar */

#sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    left: -403px;
    height: 150vh;
    z-index: 999;
    background: #292929;
    color: #fff;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#sidebarCollapse {
    background: none;
    border: none;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: black;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #292929;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
    background: #2f0b0b;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: black;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* loader */

#loaderOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}

#loader {
    z-index: 9999999;
}

#circle,
#pageLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid $md-grey;
    border-top: 8px solid #E53549;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* all pages styles */

#sidebar {
    div {
        &:focus {
            outline: none;
        }
    }
    #advSearchContainer {
        #carousel {
            background-color: #292929;
        }
        .mycard {
            background-color: #292929;
            border-radius: 12px;
        }
        &:focus {
            outline: none;
        }
    }
}

#siteNav {
    z-index: 100;
    background-color: #000;
    /* Black background color */
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    width: 100%;
    /* Full width */
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
    .navbar-brand {
        img {
            max-height: 40px;
            width: auto;
        }
    }
    a {
        cursor: pointer;
    }
    // #searchContent {
    //     #accordionQuickSearch {
    //         .card {
    //             border: 1px solid $md-grey;
    //             border-bottom: none;
    //             background-color: $md-grey;
    //             .card-header {
    //                 background-color: #000;
    //                 border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    //                 h5 {
    //                     .btn-link {
    //                         color: $md-grey;
    //                         text-transform: uppercase;
    //                         text-decoration: none;
    //                     }
    //                 }
    //             }
    //             .card-body {
    //                 background-color: #333;
    //                 .btn-genre {
    //                     margin: 5px;
    //                 }
    //                 #generalSearchForm {
    //                     .input-group-prepend {
    //                         label {
    //                             background-color: #343a40;
    //                             color: #fff;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

.wrapper {
    // stick nav
    padding-top: 66px;
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -30px;
}

.push {
    height: 30px;
}

footer {
    height: 30px;
    color: $md-grey;
    background-color: #000;
}


/* movie grid */

#movieContent {
    #movies {
        min-height: 250px;
    }
}

.movie-container {
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    img {
        width: 100%;
        transition: all 1s;
        &:hover {
            opacity: 0.5;
        }
    }
}

#movieModalCenter {
    .modal-content {
        padding: 20px;
        img {
            width: 100%;
        }
        .video-trailer {
            color: #E53549;
        }
    }
}


/* index - login */

#index {
    background-color: #000;
    background-image: url(../images/movie-poster-collage-75op.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    #loginCard {
        background-color: #000;
        .card-body {
            .nav-tabs {
                border-bottom: 1px solid $md-grey;
                .nav-item.nav-link {
                    color: $md-grey;
                    &.active,
                    &.active:hover {
                        border-top: 1px solid $md-grey;
                        border-left: 1px solid $md-grey;
                        border-right: 1px solid $md-grey;
                        border-bottom: 1px solid #000;
                        background-color: transparent;
                        color: #fff;
                    }
                    &:hover {
                        border: none;
                    }
                }
            }
            .gtr-form-control {
                background-color: #333;
                color: #ccc;
                border: none;
                &:focus {
                    border-color: #333;
                    box-shadow: none;
                }
            }
        }
    }
}


/* search page */

#search {
    .wrapper {
        // stick nav
        padding-top: 66px;
        min-height: 100%;
        /* Equal to height of footer */
        /* But also accounting for potential margin-bottom of last child */
        margin-bottom: -30px;
    }
    .push {
        height: 30px;
    }
    #movieContent {
        #accordionQuickSearch {
            .card {
                border: 1px solid $md-grey;
                border-bottom: none;
                background-color: $md-grey;
                .card-header {
                    background-color: #000;
                    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                    h5 {
                        .btn-link {
                            color: $md-grey;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
                .card-body {
                    background-color: #333;
                    .btn-genre {
                        margin: 5px;
                    }
                    #generalSearchForm {
                        .input-group-prepend {
                            label {
                                background-color: #343a40;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        #movies {
            min-height: 250px;
        }
    }
    .movie-container {
        box-sizing: border-box;
        padding: 10px;
        cursor: pointer;
        img {
            width: 100%;
            transition: all 1s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    #movieModalCenter {
        .modal-content {
            padding: 20px;
            img {
                width: 100%;
            }
            .video-trailer {
                color: #E53549;
            }
        }
    }
    #showMore {
        border: 1px solid $md-grey;
        color: $md-grey;
        transition: 500ms all;
        &:hover {
            background-color: $md-grey;
            color: #fff;
        }
    }
}

// profile
#profile {
    // profile header
    #profileContainer {
        position: relative;
        border-bottom: 5px solid #000;
        #profilePicContainer,
        #favMovieContainer {
            img {
                width: 100%;
            }
        }
    }
    #profileContent {
        padding-top: 66px;
        #profileCard {
            background-color: #000;
            .card-body {
                .nav-tabs {
                    border-bottom: 1px solid $md-grey;
                    .nav-item.nav-link {
                        color: $md-grey;
                        &.active,
                        &.active:hover {
                            border-top: 1px solid $md-grey;
                            border-left: 1px solid $md-grey;
                            border-right: 1px solid $md-grey;
                            border-bottom: 1px solid #000;
                            background-color: transparent;
                            color: #fff;
                        }
                        &:hover {
                            border: none;
                        }
                    }
                }
                .gtr-form-control {
                    background-color: #333;
                    color: #ccc;
                    border: none;
                    &:focus {
                        border-color: #333;
                        box-shadow: none;
                    }
                }
            }
        }
        #watchedMovies,
        #favoritedMovies {
            .movie-container {
                box-sizing: border-box;
                padding: 10px;
                cursor: pointer;
                img {
                    width: 100%;
                    transition: all 1s;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
            #movieModalCenter {
                .modal-content {
                    padding: 20px;
                    img {
                        width: 100%;
                    }
                    .video-trailer {
                        color: #E53549;
                    }
                }
            }
        }
    }
    #updateProfileForm {
        .gtr-form-control {
            background-color: #333;
            color: #ccc;
            border: none;
            &:focus {
                border-color: #333;
                box-shadow: none;
            }
        }
    }
    .user-movie-btn {
        display: none !important;
    }
}