// colors
$danger-red: #E53549;

/* general styles */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* helper styles */

.push {
    height: 50px;
}

.clearer {
    clear: both;
}

.gtr-bg-black {
    background-color: #000;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}


/* loader */

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #222;
    border-top: 8px solid #E53549;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* all pages styles */

#siteNav {
    .navbar-brand {
        img {
            max-height: 40px;
            width: auto;
        }
    }
}

footer {
    height: 30px;
    color: #fff;
}


/* index - login */

#index {
    height: 100%;
    background-color: #000;
    background-image: url(../images/movie-poster-collage-75op.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    #loginCard {
        background-color: #000;
        .card-body {
            .nav-tabs {
                border-bottom: 1px solid #222;
                .nav-item.nav-link {
                    color: #222;
                    &.active {
                        border-top: 1px solid #222;
                        border-left: 1px solid #222;
                        border-right: 1px solid #222;
                        border-bottom: 1px solid #000;
                        background-color: transparent;
                        color: #fff;
                    }
                }
            }
            .gtr-form-control {
                background-color: #333;
                color: #ccc;
                border: none;
                &:focus {
                    border-color: #333;
                    box-shadow: none;
                }
            }
        }
    }
}